@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

:root {
    --mainPointColor: red;
    --textColor: white;
}

.nav-left {
    font-size: 3.5rem;
    font-weight: 6000;
}

.nav-left span:nth-child(1) {
    color: var(--textColor);
}

.nav-left span:nth-child(2) {
    color: gold;
}

body {
    background-color: #181818;
}

.navbar {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 1rem;
}

.nav-ul {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    gap: 1.5rem;
    color: var(--textColor);
    font-weight: bold;
}

.nav-right {
    animation: SlideSlider1 0.2s linear;
}

@keyframes SlideSlider2 {
    from {
        right: -6rem;
    }

    to {
        right: -12px;
    }
}

.SideNav {
    background: #fba520;
    position: fixed;
    right: -12px;
    top: 3rem;
    border-radius: 55% 0 10% 18px;
    padding: 6rem 18px 4rem 36px;
    height: fit-content;
    display: flex !important;
    align-items: center;
    z-index: 99998;
    animation: SlideSlider2 0.2s linear;
    transition: 0.2s;
}

@keyframes SlideSlider2 {
    from {
        right: -6rem;
    }

    to {
        right: -12px;
    }
}

.SideNav ul {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--textColor);
    font-weight: bold;
}

.nav-li a {
    text-decoration: none;
    color: var(--textColor);
}

.nav-li:hover a {
    color: var(--mainPointColor);
}

.main {
    width: 80%;
    margin: auto;
}


/* main section */
.main-section {
    display: flex;
    height: 90vh;
    width: 90%;
    margin: auto;
}

.main-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.name-heading {
    font-size: 2rem;
}

.resume-down-btn {
    text-decoration: none;
    color: gold;
    background: var(--mainPointColor);
    padding: 5px;
    border-radius: 27px;
    margin-top: 1.2rem;
}

.dev-name {
    font-size: 4rem;
    color: var(--textColor);
    font-weight: bolder;
}

.short-desc span:nth-child(1) {
    font-size: 1.2rem;
    color: var(--textColor);
}

.short-desc span:nth-child(2) {
    font-size: 1.2rem;
    color: var(--mainPointColor);
}

.short-desc span:nth-child(3) {
    font-size: 1.2rem;
    color: var(--textColor);
}


.short-desc span {
    color: var(--mainPointColor);
}

.short-desc span {
    color: var(--mainPointColor);
}

.main-left div span:nth-child(1) {
    color: var(--mainPointColor);
}

.main-left div span:nth-child(2) {
    color: var(--textColor);
}

.main-left div span:nth-child(2) {
    color: var(--textColor);
}




/* main section right side div */
.main-right {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

}

/* right side circle */
.right-circle {
    height: 72%;
    width: 46%;
    border-radius: 50%;
    border: 16px solid gold;
    transform: rotateZ(66deg);
    margin: auto;
    position: relative;
    display: flex;
    /* justify-content: center;
    align-items: start; */
}

.profile-image {
    /* width: 100%; */
    height: 75%;
    position: relative;
    right: 1rem;

}

/* skill-section style start */
.skill-section {
    height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
}

.skill-heading {
    font-size: 4rem;
    /* color: gold; */
    width: 100%;
}

.skill-heading span:nth-child(1) {
    color: var(--textColor);
}

.skill-heading span:nth-child(2) {
    color: var(--mainPointColor);
}

/* skill chart */

.chart {
    margin: auto;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.chart-piller {
    border-left: 3px solid red;
    border-bottom: 3px solid red;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.pillers {
    width: 6%;
    background-color: #445B6C;
    height: var(--pillersData);
    text-align: center;
    color: var(--textColor);
    /* box-shadow: -12px -3px 3px 0px grey; */
}

.axisY-data-type {
    /* position: absolute; */
    color: var(--textColor);
}

.pillers-value {
    display: flex;
    flex-direction: column;
    width: 90%;
}


.chart-piller::after {
    content: "% Of Skill-->";
    height: 0.5rem;
    position: absolute;
    color: var(--mainPointColor);
    /* background-color: red; */
    left: -50px;
    transform: rotateZ(-90deg);
    bottom: 11rem;
}


.skill-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--textColor);
}

/* about section :start */
.about {
    height: 100vh;
    width: 100%;
}

.about-heading {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    font-size: 4rem;
}



.about-heading span:nth-child(1) {
    color: var(--mainPointColor);
}

.about-heading span:nth-child(2) {
    color: var(--textColor);
}

.about-description {
    width: 70%;
    margin: auto;
    color: var(--textColor);
    margin-top: 4rem;
    text-align: center;
}

.importent-word {
    color: red !important;
}








/* about section :end */


/* contact section :start */

.contact-section {
    height: 100vh;
    width: 100%;
}

.contact-heading {
    width: 90%;
    margin: auto;
    font-size: 4rem;
    color: var(--textColor);
}

.contact-form-section {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contactForm {
    width: 45rem;
    border: 2px solid #fba520;
    padding: 23px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}




.flex {
    display: flex;
}

.formInputSection {
    display: flex;
    width: 100%;
    height: 3.5rem;
    position: relative;
}

.formInputSection input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 5;
    outline: #fba520;
    border: 2px solid #fba520;
    border-radius: 10px;
    padding: 0 10px;
    color: #fba520;
}

.formInputSection textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 5;
    outline: #fba520;
    border: 2px solid #fba520;
    border-radius: 10px;
    padding: 0 10px;
    padding-top: 1rem;
    color: #fba520;
}

.formInputSection input::placeholder {
    visibility: none;
}


.form-label {
    position: absolute;
    width: fit-content;
    height: fit-content;
    z-index: 2;
    color: #fba520;
    top: 29%;
    left: 6px;
    background-color: transparent;
    transition: 0.5s all;
}

.labelTop {
    padding: 0 10px;
    top: -19%;
    z-index: 10;
    border-radius: 6px;
    background: #fba520;
    color: white;
    transition: 0.5s all;
}

.submit-btn {
    padding: 9px 37px;
    border-radius: 11px;
    background: #f97f33;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

/* contact section :end */


/* back to top button where id is back-to-top */
#backtotop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 4rem;
    background-color: black;
    width: 4rem;
    border-radius: 5px;
    right: 1rem;
    bottom: 1rem;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.back-to-top {
    width: 2rem;
    height: 2rem;
    fill: red;
}


/* universal class */
.row {
    display: flex;
    flex-direction: row;
}

.mt-1 {
    margin-top: 1.5rem;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.copywrite {
    text-align: center;
    color: gold;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f97f33;
    color: white;
    margin-top: 4.5rem;
}



/* hamberger  */

.hambarger {
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* padding: 0.5rem; */
    background-color: black;
    cursor: pointer;
}

.hambarger p {
    width: 100%;
    /* height: 100%; */
    color: var(--mainPointColor);
    font-size: 0.6rem;
    text-align: center;
    font-weight: bold;
}

.hambarger svg {
    height: 2rem;
    width: 2rem;
    fill: var(--mainPointColor);
}

.svg_icon {
    width: 2rem;
    height: 2rem;
}


/* circuler progress */
.skilsSection {
    display: grid;
    /* flex-direction: ; */
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    justify-items: center;
}

.skil {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    box-shadow: 0 0 33px -11px #181818;
    border-radius: 11px;
    background: #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.progressbar {
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-image: conic-gradient(#ff0000 0, white 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar::after {
    content: attr(SkillsKnown);
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    font-size: 15px;
    background-color: #181818;
    position: absolute;
    border-radius: 50%;

    font-family: 'Poppins', sans-serif;

}

.skilname {
    color: #ff0000;
    font-weight: bold;
}


.profileImage {
    width: 22rem;
    height: 20rem;
    background: linear-gradient(rgba(248, 117, 55, 1), rgba(251, 168, 31, 1));
    /* animation-name: BackgroundChanger; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 0;
    animation-timing-function: linear;
    animation-direction: alternate;
    overflow: hidden;
    /* border-radius: 123% 54% 72% 27%; */
    /* border-radius: 70% 88% 60% 54%;
   
    border-radius: 73% 118% 82% 72%; */
    border-radius: 123% 54% 72% 27%;
    z-index: -1;
}

@keyframes BackgroundChanger {
    30% {}

    50% {}

    100% {}
}

.profileImage img {
    /* background-blend-mode: color; */
    float: left;
    width: 17rem;
    height: 20rem;
    object-position: center;
    object-fit: cover;
    right: -55px;
}

#navButton {
    display: none;
    position: fixed;
    top: 4rem;
    right: 1rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    background-color: #fba520;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9px;
    gap: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 31px -10px red;
    z-index: 99999;
    animation: SlideSlider2;
}

#navButton span:first-child {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: 0.6s all;
}

#navButton span:last-child {
    width: 90%;
    height: 3px;
    background-color: white;
    transition: 0.6s all;
}

/* #navButton:hover span:first-child {
    position: absolute;
    transition: 0.6s all;
    transform: rotate(45deg);
    width: 72%;
} */

/* #navButton:hover span:last-child {
    transition: 0.6s all;
    position: absolute;
    transform: rotate(-45deg);
    width: 72%;
} */